*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    margin: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100vh 5vh auto;

    grid-template-areas:  
    "header"
    "nav"
    "main";
}

.botonvolver {
    margin-right: 10%;
    border-radius: 3px solid black;
    margin-top: 5rem;
    position: fixed;
}

.botonvolver h5 {
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 213, 5);
    text-shadow: 2px 4px black;
}



/* header */

header {
    grid-area: header;
    background-color: black;
    width: 100%;
    height: auto;
}

header .logo a {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 230px;
    margin-bottom: 30px;
}


@media (min-width:1280px){
    header .logo a {
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }
}

@media(min-width:480px){
    header .logo{
        margin-top: 2%;
    }
}


@media (min-width:1024px){
    header .logo{
        margin-top: 200px;
    }
}

@media (min-width:1280px){
    header .logo {
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
    }
}

@media (min-width:1280px){
    header .logo {
        width: 25%;
        height: auto;
    }
}


header .logo img {
    width: 35vw;
    height: auto;
    display: flex;
    justify-content: center;
}

header .logo img:hover {
    transform: translatey(-50px);
}


@media (min-width:1024px){
    header .logo img {
        width: 50%;
        height: auto;
    }
}

@media (min-width:1280px){
    header .logo img {
        width: 100%;
        height: auto;
    }
}

header .titulo {
    color: rgb(255, 213, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

@media (min-width:480px){
    header .titulo {
        font-size: 3vw;
    }
}

@media (min-width:1024px){
    header .titulo {
        font-size: 4vw;
    }
}

@media (max-width:480px){
    header .titulo {
        font-size: 3vw;
        margin-top: 10px;
    }
}

@media (min-width:1280px){
    header .titulo {
        font-size: 3vw;
    }
}

header .subtitulo {
    color: white;
    font-size: 3vw ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

@media (min-width:480px){
    header .subtitulo{
        font-size: 2vw;
    }
}


@media (min-width:1024px){
    header .subtitulo{
        font-size: 2vw;
    }
}

/* nav */

nav {
    grid-area: nav;
    background-color: white;
    width: 100%;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

@media (max-width:1024px){
    nav ul {
        margin-top:4px;
    }
}

@media(min-width:1024px){
    nav ul{
        margin-top: 1px;
    }
}

nav ul li a {
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-shadow: 2px 4px rgb(255, 213, 5);
}

nav ul li:hover{
    transform: translate(50px, 50px);
}

nav ul li {
   display: inline-block;
}

@media (max-width:480px){
    nav ul li a {
        font-size: 3vw;
    }
}

@media (min-width: 480px){
    nav ul li a {
        font-size: 100%;
        margin-top: 15px;
    }
}

@media (max-width:480px){
    nav ul li {
        display: inline;
        margin-top: 10px;
    }
}

@media (min-width:1024px){
    nav ul li a {
        font-size: 150%;
    }
}

@media (min-width:480px){
    nav ul li {
        margin-top: 2px;
    }
}



/* main */

main {
    width: 100%;
    height: auto;

    grid-area: main;
    /* background-color: rgb(255, 213, 5); */
    background-image: linear-gradient(to right, yellow, purple);
}

@media(min-width:1024px){
    main {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 59% 40% 5%;

        /* grid-template-areas: 
        "novedades" "galeria"
        "eventos" "galeria"
        "footer""footer"; */
    }

    .seccionnovedad {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .seccioneventos {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    footer {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .secciongaleria {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

.tituloseccion {
    color: black;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    text-shadow: 2px 4px rgb(255, 213, 5);
}

.tituloseccion a {
    text-decoration: none;
    color: white;
}

.titulonovedad {
    color: black;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

main div p {
    margin: 20px 20px 20px 20px;
    text-align: center;
}

@media (max-width:480px){
    .titulonovedad {
        font-size:1rem;
    }
}

@media (min-width: 480px){
    .titulonovedad {
        font-size: 25px;
    }
}

section div video {
    width: 100%;
    height: auto;
}

@media(min-width:1024px){
    .seccioneventos div video {
        width: 100%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

section article div img {
    width: 100%;
    height: auto;
}

.seccionnovedad article div a {
    text-decoration: none;
    color: black;
}

aside div img {
    width:20%;
    height: auto;
}

@media(min-width:1024px){
    .secciongaleria div img {
        width: 100%;
        height: auto; 
    }
}

aside div {
    width: 50%;
    height: auto;
}

@media(min-width:1024px){
    .secciongaleria div {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }
}

/* pagina noticias */

main div img {
    width: 100vw;
    height: auto;
}

main div video {
    width: 100vw;
    height: auto;
}

@media(min-width:1024px){
    main .noticiasimg {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    main .noticiasimg img {
        width: 100%;
        height: auto;
        margin-top: 5%;
    }

   .paginanoticias .noticiasvideo video {
       width: 100%;
       height: auto;
   }


    main div p {
        grid-column: 1/2;
        grid-row: 1/4;
    }
}

/* pagina evento */

@media (max-width:480px){
    .iframe iframe {
        width: 100vw;
        height: auto;
    }
}

@media (min-width:480px){
    .iframe iframe {
        width: 100vw;
        height: auto;
    }
}

@media (min-width:1280px){
    .iframe iframe {
        width: 1280px;
        height: 1024px;
    }
}

@media(min-width:1024px){
    .paginaeventos {
        grid-column: 1/2;
        grid-row: 1/4;
    }

    .paginaeventos div iframe {
        width: 100%;
        height: auto;
    }

    .paginaeventos div video {
        width: 100%;
        height: auto;
    }
}

/* pagina galeria */

.galeriaimg {
    width: 25vw;
    height: auto;
}

@media(min-width:1024px){

    .paginagaleria {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .paginagaleria div {
        grid-column: 1/3;
        grid-row: 1/3;

        width: 90%;
        height: auto;
    }

    .paginagaleria div img {
        width: 95%;
        height: auto;
        margin: 50px;
    }


    .paginagaleria footer {
        grid-column: 1/3;
        grid-row: 3/4;

        width: 100%;
        height: auto;
    }
}

/* pagina podcast */

@media(min-width:1024px){
    .paginapodcast {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    main .paginapodcast div iframe {
        display: flex;
        justify-self: auto;
        align-self: auto;
    }

    
}

/* pagina nosotros */

@media(min-width:1024px){
    .paginanosotros {
        grid-column: 1/3;
        grid-row:1/3 ;
    }
}

/* pagina contacto */

@media(min-width:1024px){
    .paginacontacto {
        grid-column: 1/3;
        grid-row: 1/3;
    }
}

section form div label {
    color: black;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px 5px 30px 20px;
}

section form div textarea {
    width: 70vw;
    height: auto;
    margin: 30px 5px 30px 20px;
}

section form div input {
    color: black;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:30px 5px 30px 20px;
}

/* footer */

footer {
    background-color: white;
    width: 100vw;
    height: 5vh;
}

footer ul {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (max-width:480px){
    footer ul li a {
        font-size:3vw;
    }
}

@media (min-width:480px){
    footer ul li a {
        font-size: 3vw;
        margin-top: 15px;
    }
}

@media (min-width:1024px){
    footer ul li a {
        font-size: 2vw;
    }
}
